/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  width: 100%;
}

article {
  width: 100%;
  max-width: 50em;
}

h1 {

}

picture {
  max-width: 100%;
}

img {
  max-width: 100%;
}
